@{
    ViewData["Title"] = "";
}



<div style="background-color: #1e1e1e; color: #ffffff; padding: 20px; border-radius: 10px;">
    <h3>Call Us:</h3>
    <p>Mobile: +91 7011001472 / 9711863861 / 7827944632 / 9718199516</p>
    <p>WhatsApp: +91 7011001472 / 9711863861</p>
    <p>WeChat: Adhish_IDentium</p>
    <p>Landline: 011 – 47147839</p>

    <h3>Write to Us:</h3>
    <p>For General Inquiries: <a href="mailto:info@IDentium.in" style="color: #007bff;">info@IDentium.in</a></p>
    <p>For Sales: <a href="mailto:marketing@IDentium.in" style="color: #007bff;">marketing@IDentium.in</a></p>
    <p>For Careers: <a href="mailto:Careers@IDentium.in" style="color: #007bff;">Careers@IDentium.in</a></p>

    <h3>Visit Us:</h3>
    <p>
        Plot no. 5 First Floor, Raja Dhirsain Marg Garhi,<br />
        Sant Nagar, East of Kailash, New Delhi 110065, India
    </p>
</div>
